* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  transition: all .3s ease;
  scroll-behavior: smooth;
}
:root {
  --primary: #f5cb17;
  --secondary: #047454;
}
html,
body {
  height: 100%;
  width: 100%;  color: v;
}

body {
  font-family: Po02;
}

main {
  display: flex;
  padding: 20px 5%;
  border: solid 1px red;
  height: 100%;
  flex: 1;
}

.phones {
  border: solid 5px #222;
  border-radius: 30px;
  width: 100%;
  max-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow: auto;
  resize: horizontal;
}

.contents {
  height: 100%;
  overflow-y: auto;
}

.phones .heure {
  font-weight: bold;
}

.phones :where(.phoneHead, .phoneFoot) {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0001;
}

.specialBattery.mio {
  transform: rotateZ(90deg);
}

.phoneFoot .homebar {
  display: inline-block;
  width: 80px;
  height: 5px;
  border-radius: 10px;
  background: #000;
  margin: 0 auto;
}

.phoneHead .mio {
  font-size: 18px;
}

#cartMap {
  width: 100%;
  height: 100%;
}

.leaflet-bottom.leaflet-right, .leaflet-control-zoom {
  display: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  z-index: 1;
}